@model List<AquariumForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Aquarium Forum</h1>


    @foreach (var item in Model){
        int numComments;
        if(item.Comments != null){
            numComments = item.Comments.Count;
        } else{
            numComments = 0;
        }

        <img src="@Url.Content("/images/" + item.ImageFilename)" alt="Image for thread with title '@item.Title'"
             class="img-thumbnail w-25" />
        <p>@item.Title</p>
        <p>Comments: @numComments</p>
        <p>Created at @item.CreateDate</p>

    }

</div>
